body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar .navbar-nav .nav-link {
  color: rgb(248, 239, 239); /* Change text color here */
}
.navbar-brand
{
  color: white;
}
.navbar-custom {
  background-color: rgba(39, 37, 37, 0.8); /* Цвет фона с прозрачностью */
}


.rounded-input {
      border-radius: 25px;
    }
    
    footer {
      background-color:rgba(47, 47, 47, 1);
      padding: 20px 0;
      text-align: center;
      color: white;
    }
.contact-us
{
  height: 25vh;
}

.button__send{
  width: 80%;
}

.table__borber {
  border-color: rgba(47, 47, 47, 1);
}


/* .main {
  height: 80vh;
  width: 100%;
} */
.main-img
{
  width: 100%;
  height: 100%;
}
.maintxt > img, .overlay-text 
{
  position: absolute;
}