body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

footer {
    background-color: rgba(47, 47, 47, 1);
    text-align: center;
    color: white;
}

    footer p {
        font-size: 1.2em !important;
        font-weight: 300 !important;
    }

h2,
h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 3.5em;
    font-weight: 400;
    text-align: center;
}

a {
    color: white;
}

.navbar .navbar-nav .nav-link {
    color: rgb(248, 239, 239);
}

.navbar-brand {
    color: white;
}

.navbar-custom {
    background-color: rgba(29, 28, 28, 0.8);
}

#main p {
    color: #fff;
    font-weight: 300;
    font-size: 1.5em;
}

.heading {
    font-size: 3.5em !important;
    font-weight: 500 !important;
}


.btn-contact {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    padding: 15px 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

    .btn-contact:hover {
        background-color: rgb(70, 70, 70);
        color: #fff;
    }

.btn-send {
    background-color: rgb(70, 70, 70);
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

    .btn-send:hover {
        background-color: rgba(255, 255, 255, 1);
        color: black;
    }

#service-cards p {
    font-weight: 400;
    font-size: 2em;
}

#services h2 {
    font-weight: 300;
}

#services p,
#about-us p {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.2;
}

.price-table {
    height: 40vh;
}

.price-table__table__borber {
    border-color: rgba(47, 47, 47, 1);
    border-radius: 0.5rem;
    overflow: hidden;
}

.rounded-input {
    border-radius: 25px;
}

.service-item {
    width: 80%;
    background-color: rgba(225, 225, 225, 1);
}

.service-img {
    height: 80%;
    width: 80%;
}

.main-container {
    position: relative;
    height: 100vh; /* Высота контейнера равна высоте видимой области окна */
    background: #000;
}

.main-container img {
    opacity: 0.6;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Изображение будет занимать всю доступную площадь */
}

@media (max-width: 768px) {
    .navbar-brand {
        margin-right: 0;
    }

    .navbar-collapse {
        background-color: rgba(39, 37, 37, 0.8);
        padding: 10px;
    }

    .nav-link {
        padding: 10px;
    }

    .navbar-toggler {
        margin-right: 0;
    }

    .main-text,
    .service-cards-text,
    .heading {
        font-size: 20px;
    }

    .main-img {
        height: auto;
    }

    .service-item,
    .container {
        width: 100%;
    }
}
